<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yrkj.elderlycareassess"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:name="com.yrkj.elderlycareassess.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yrkj.elderlycareassess.MainActivity"
            android:label="@string/app_name" >

            
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
            
        </activity>
        <activity
            android:name="com.yrkj.elderlycareassess.TestActionBarActivity"
            android:label="@string/title_activity_test_action_bar" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.yrkj.elderlycareassess.TestPopActionBarActivity"
            android:label="@string/title_activity_test_action_bar" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.yrkj.elderlycareassess.acty.MainHomeActivity" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  -->
        </activity>
        <activity android:name="com.yrkj.elderlycareassess.acty.MainHomeNoneActionBarActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yrkj.elderlycareassess.acty.MainAssessActivity" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name="com.yrkj.elderlycareassess.CddMainActivity"
            android:label="@string/title_activity_cdd_main" >
        </activity>
    </application>

</manifest>
